---
- name: Ensure a CLI-specific module directory exists
  ansible.builtin.file:
    path: "{{ php.prefix.modules }}-cli"
    state: directory
    owner: root
    mode: "0755"
  register: php_cli_modules_folder_created

- name: List all default PHP modules
  ansible.builtin.find:
    paths: "{{ php.prefix.modules }}"
    patterns: "*.ini"
    file_type: file
  register: php_default_modules_list
  when: php_cli_modules_folder_created is changed

- name: Copy all default modules to the CLI-specific modules directory
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ php.prefix.modules }}-cli/{{ item.path | basename }}"
    owner: root
    mode: "0644"
    remote_src: true
  when: php_default_modules_list is defined and php_default_modules_list.files is defined
  loop: "{{ php_default_modules_list.files }}"
  loop_control:
    label: "{{ item.path }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Check the module ini files for all SAPIs
  ansible.builtin.stat:
    path: "{{ php.prefix.modules }}/{{ item.key }}.ini"
  register: all_sapi_stats
  loop: "{{ php.modules.disable.all | default([], true) }}"
  loop_control:
    label: "{{ item.key }}"

- name: Disable PHP modules for all SAPIs by renaming to .ini.off
  ansible.builtin.command:
    argv:
      - /bin/mv
      - "{{ php.prefix.modules }}/{{ item.item.key }}.ini"
      - "{{ php.prefix.modules }}/{{ item.item.key }}.ini.off"
    creates: "{{ php.prefix.modules }}/{{ item.item.key }}.ini.off"
  loop: "{{ all_sapi_stats.results | default([]) }}"
  loop_control:
    label: "{{ item.item.key }}"
  when: item.stat.exists | default(false)

- name: Check CLI-specific module ini files
  ansible.builtin.stat:
    path: "{{ php.prefix.modules }}-cli/{{ (item.key | default(item)) }}.ini"
  register: cli_specific_stats
  loop: "{{ php.modules.disable.cli | default([], true) }}"
  loop_control:
    label: "{{ (item.key | default(item)) }}"

- name: Disable PHP CLI-specific modules by renaming to .ini.off
  ansible.builtin.command:
    creates: "{{ php.prefix.modules }}-cli/{{ (item.item.key | default(item.item)) }}.ini.off"
    argv:
      - "/bin/mv"
      - "{{ php.prefix.modules }}-cli/{{ (item.item.key | default(item.item)) }}.ini"
      - "{{ php.prefix.modules }}-cli/{{ (item.item.key | default(item.item)) }}.ini.off"
  loop: "{{ cli_stats.results | default([]) }}"
  loop_control:
    label: "{{ (item.item.key | default(item.item)) }}"
  when: item.stat.exists | default(false)

- name: Init getent database
  ansible.builtin.getent:
    database: passwd

- name: Ensure PHP_INI_SCAN_DIR environment variable is set in all shells for user {{ item.0 }}
  ansible.builtin.lineinfile:
    path: "{{ getent_passwd[item.0][4] }}/{{ item.1 }}"
    create: true
    line: "{{ export.command }} PHP_INI_SCAN_DIR{{ export.separator }}{{ php.prefix.modules }}-cli"
    regexp: '^\s*({{ export.command }}\s+)?PHP_INI_SCAN_DIR='
    state: present
    mode: "0644"
    owner: "{{ item.0 }}"
  loop: "{{ php.modules.disable.for_users | product(['.bashrc', '.shrc', '.profile']) | list }}"
  vars:
    export: >-
      {{
        {'command': 'setenv', 'separator': ' '} if item.1 == '.cshrc' else {'command': 'export', 'separator': '=' }
      }}
  loop_control:
    label: "{{ item.0 }} -> {{ item.1 }}"
  when: php.modules.disable.for_users | length > 0
